* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-size: 40px;
  }
}

.takeWidth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__label {
    font-size: 25px;
    margin: 20px;
  }
  &__input-text {
    background-color: #7fefea;
    padding: 10px;
    border: none;
  }
  &__button {
    background-color: #ca9df2;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 20px;
  }
}

.cellsGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__table {
    table {
      border-spacing: 0;
      td {
        border: 0.5px solid;
        color: rgba(0, 0, 0, 0.6);
        width: 20px;
        height: 20px;
      }
      .td--alive {
        background-color: #000;
        border-radius: 10px;
      }
      .td--dead {
        background-color: transparent;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .buttons {
      &__button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin: 20px;
        &--startLife {
          background-color: #6fd619;
        }
        &--stopLife {
          background-color: #d62a19;
        }
        &--backMenu {
          background-color: #7fefea;
        }
      }
    }
  }
}

#buttons {
  display: none;
}

#stopLife {
  display: none;
}

.wrapper {
  height: 200vh;
  width: 100vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #060,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
